extends layout

block content
  h1 #{title} XBee Tool

  h2 Config
  #config
    button#configure Configure
    button#save Save
    button#reset Reset
  
  h2 Network
  #network
    button#join Allow join
    button#discover Discover
    button#queryAddresses Query Addresses
    button#association Check association
    button#addBinding Add Binding
    
  h2 Test
  button#test Test

  h2 Node ID
  input#id
  button#idSubmit
  
  h2 AT command
  input#at
  
  h2 Nodes
  #nodes
  h2 Applications
  #applications
