doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="javascripts/lib/jquery-1.9.1.min.js")
    script(src="/socket.io/socket.io.js")
    script(src="javascripts/app.js")
  body
    block content